/*para el menu*/
*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #dddede;
}
ul {
    list-style: none; /* eliminan el subrayado */
}
h3 {
    text-align: center;
}
.contenido {
    background-image: url(fondoproducto.jpg);
}
.nav-item:hover {
    transform: scale(0.80);
}
.container:hover {
    transform: scale(1.01);
}

nav div a img {
    width: 50%;
}
/*Footer*/

ul {
    list-style: none; /* eliminan el subrayado */
}

footer {
    background-color: rgb(35, 35, 35);
    width: 100%;
}

.cuerpo-footer {
    margin: 0 5%;
    color: white;
    font-size: 20px;
}

.menu-footer {
    display: flex;
    
}

footer nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
}

footer .cuerpo-footer nav ul li {
    margin: 0 10px;
}

.cuerpo-footer nav ul li a {
    color: white;
}

.cuerpo-footer nav ul li a:hover {
    color: #ffae00;
}